# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# Environment variables
.env
.env.local

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
